{% extends "base.html" %}
{% block title %}Heladera{% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
{% endblock %}
{% block content %}
<main>
    <div id="items-container" data-items="{% for item in list_items %}{{ item }},{% endfor %}"></div>
    <dialog>
        <section class="top-dialog">
            <button class="hidden-button">X</button>
            <legend>Ingrese los Datos</legend>
            <button class="exit-button">X</button>
        </section>
        <form method="dialog">
            <label for="GET-name">Nombre</label>
            <input id="GET-name" type="text" name="name" maxlength="15" placeholder="Helado" required class="input-dialog"/>
            <label for="GET-expiration-date">Fecha de vencimiento</label>
            <input id="GET-expiration-date" type="date" name="expiration-date" required class="input-dialog"/>
            <label for="GET-amount">Cantidad</label>
            <input id="GET-amount" type="number" name="amount" minlength="1" placeholder="1" required class="input-dialog"/>
            <label for="unit">Unidad</label>
            <select id="unit" name="unit" class="input-dialog" required>
                <option value="" disabled selected>Selecciona una unidad</option>
                <option value="KG">Kilogramos</option>
                <option value="LT">Litros</option>
            </select>
            <label for="GET-weight">Cantidad</label>
            <input id="GET-quantity" type="number" name="quantity" placeholder="1" class="input-dialog"/>
            <button class="post-button">Añadir</button>
        </form>
    </dialog>

    <section class="cards-container" id="cards-container"></section>
    <section class="nav-pages">
        <div class="invisible-space"></div>
        <div class="navigation">
            <button class="nav-button" id="previous"><span class="minor-and-major"><</span>Anterior</button>
            <p class="pages"><span class="actual-page">{{actual_page}}</span> de <span class="total-pages">{{total_pages}}</span></p>
            <button class="nav-button" id="advance">Siguiente<span class="minor-and-major">></span></button>
        </div>
        <button class="add-item-button">+</button>
    </section>
</main>
<script src="{% static 'js/viewItems.js' %}"></script>
<script src="{% static 'js/navigation.js' %}"></script>
<script src="{% static 'js/dialog.js' %}"></script>
<script src="{% static 'js/validForm.js' %}"></script>
<script src="{% static 'js/view.js' %}"></script>

{% endblock %}
