{% extends "base.html" %}
{% block title %}Heladera{% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/card.css" %}">
<link rel="stylesheet" href="{% static "css/page.css" %}">
{% endblock %}
{% block content %}
    <main>
        <div id="items-container" data-items="{% for item in list_items %}{{ item }},{% endfor %}"></div>
        <script src="{% static 'js/viewItems.js' %}"></script>
        <section class="cards-container" id="cards-container"></section>
    </main>
{% endblock %}
